fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
llama-index==0.14.12
llama-index-vector-stores-pinecone==0.7.1
llama-index-llms-openai==0.6.12
llama-index-llms-openai-like==0.5.3
llama-index-embeddings-openai==0.5.1
llama-index-embeddings-huggingface==0.6.1
openai==2.14.0
pinecone==7.3.0
pydantic-settings==2.12.0
python-dotenv==1.2.1
pytest==9.0.2
supabase==2.27.1
